.new-expense {
    padding: 1rem;
    background-color: black;
    width: 20rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.form-start-btn {
    color: white;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 0.3rem;
    background-color: black;
}